include solar_edge.py
include README.txt
recursive-include util *.py
recursive-include solaredge *.py
recursive-include model *.py
recursive-include conf *.py
recursive-include ask_sdk* *
recursive-include bin *
recursive-include boto* *
recursive-include certifi* *
recursive-include chardet* *
recursive-include concurrent *
recursive-include dateutil *
recursive-include docutils* *
recursive-include enum* *
recursive-include futures* *
recursive-include idna* *
recursive-include jmespath* *
recursive-include python_dateutil* *
recursive-include pytz* *
recursive-include requests* *
recursive-include s3transfer* *
include six.py
recursive-include six* *
include typing.py
recursive-include typing* *
recursive-include urllib3* *
